ReID_Experiments/CCVID/data/
ReID_Experiments/LTCC_ReID/data/
ReID_Experiments/LTCC_ReID/data_old
*.pth
*.mp4
*.pt
*.onnx
*.engine
events.*
ReID_Pipeline/Pipes/__pycache__
ReID_Pipeline/__pycache__
*.tlt
*.png
*.jpg
*.mat
*.zip
*.tar.gz
*.tar
*.db