ReID_Experiments/CCVID/data/
ReID_Experiments/LTCC_ReID/data/
ReID_Experiments/LTCC_ReID/data_old
ReID_Experiments/PRCC/data
ReID_Experiments/ULIRI/data
*.pth
*.mp4
*.pt
*.onnx
*.engine
events.*
ReID_Pipeline/Pipes/__pycache__
ReID_Pipeline/__pycache__
*.tlt
*.png
*.jpg
*.mat
*.zip
*.tar.gz
*.tar
*.db
*.avi
ReID_Inference/__pycache__
reid_gallery
ReID_Inference/__pycache__
ReID_Inference/mot16-02
ReID_Inference/mot16-05
ReID_Inference/__pycache__
Object_Detection/WiderPersonYOLO/__pycache__
Object_Detection/WiderPersonYOLO/WiderPerson
Object_Detection/WiderPersonYOLO/EvalResults/yolo11l_tensorrt_results/predictions_20250811_135129
Object_Detection/WiderPersonYOLO/EvalResults/yolo11m_tensorrt_results/predictions_20250811_135222
Object_Detection/WiderPersonYOLO/EvalResults/yolo11n_tensorrt_results/predictions_20250811_135313
Object_Detection/WiderPersonYOLO/EvalResults/yolo11s_tensorrt_results/predictions_20250811_135352
Object_Detection/WiderPersonYOLO/EvalResults/yolo11x_tensorrt_results/predictions_20250811_135438
Object_Detection/WiderPersonYOLO/EvalResults/yolo12l_tensorrt_results/predictions_20250811_135552
Object_Detection/WiderPersonYOLO/EvalResults/yolo12m_tensorrt_results/predictions_20250811_135711
Object_Detection/WiderPersonYOLO/EvalResults/yolo12n_tensorrt_results/predictions_20250811_135810
Object_Detection/WiderPersonYOLO/EvalResults/yolo12s_tensorrt_results/predictions_20250811_135853
Object_Detection/WiderPersonYOLO/EvalResults/yolov8l_tensorrt_results/predictions_20250811_141806
Object_Detection/WiderPersonYOLO/EvalResults/yolov8m_tensorrt_results/predictions_20250811_142035
Object_Detection/WiderPersonYOLO/EvalResults/yolov8n_tensorrt_results/predictions_20250811_140258
Object_Detection/WiderPersonYOLO/EvalResults/yolov8s_tensorrt_results/predictions_20250811_140338
Object_Detection/WiderPersonYOLO/EvalResults/yolov8x_tensorrt_results/predictions_20250811_140425
Object_Detection/WiderPersonYOLO/EvalResults/yolov9c_tensorrt_results/predictions_20250811_142253
Object_Detection/WiderPersonYOLO/EvalResults/yolov9m_tensorrt_results/predictions_20250811_142427
Object_Detection/WiderPersonYOLO/EvalResults/yolov9s_tensorrt_results/predictions_20250811_142629
Object_Detection/WiderPersonYOLO/EvalResults/yolov9t_tensorrt_results/predictions_20250811_143034
Object_Detection/WiderPersonYOLO/EvalResults/yolov10l_tensorrt_results/predictions_20250811_142836
Object_Detection/WiderPersonYOLO/EvalResults/yolov10m_tensorrt_results/predictions_20250811_135940
Object_Detection/WiderPersonYOLO/EvalResults/yolov10n_tensorrt_results/predictions_20250811_140027
Object_Detection/WiderPersonYOLO/EvalResults/yolov10s_tensorrt_results/predictions_20250811_140104
Object_Detection/WiderPersonYOLO/EvalResults/yolov10x_tensorrt_results/predictions_20250811_140148